page-mastekinfo {
 
#icard{
    background-color: white;
     border-radius: 25px;
   
}
.head{
    color:#0D47A1; 
    font-weight: bold; 
    font-family: 'Helvetica Neue', sans-serif;
     font-size:15px;
}
}
