<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bus Registration</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="back">
<h3 style="text-align: center">Single Trip</h3>

<ion-card (click)="selectDate()">
  <ion-card-header>
   Date
   <ion-icon name="md-arrow-dropdown" id="date-icon" style="float: right;"></ion-icon>
   <span style="float: right;">{{data.date}}</span>
  </ion-card-header>
</ion-card>

 <!--
  <ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Location</ion-label>
    <ion-select interface="popover" id="loc_select" [(ngModel)]="data.location" (ionChange)="mainValidation(1)">   
      <ion-option value="Mahape">Mahape</ion-option>
      <ion-option value="Pune">Pune</ion-option>
      <ion-option value="Seepz">Seepz</ion-option>
      
    </ion-select>
  </ion-item>
</ion-list>

 <ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Bus Slot</ion-label>
    <ion-select  interface="popover" id="slot_select" [(ngModel)]="data.bus_slot" (ionChange)="mainValidation(2)">
      <ion-option value="1">Morning/8:30AM</ion-option>
      <ion-option value="2">Morning/10:00AM</ion-option>
      <ion-option value="3">Evening/5:45PM</ion-option>
      <ion-option value="4">Evening/7:10PM</ion-option>
      <ion-option value="5">Evening/8:30PM</ion-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Boarding Point</ion-label>
    <ion-select  interface="popover" id="bp_select" [(ngModel)]="data.bp" disabled="{{BPOINT_FLAG}}" (ionChange)="mainValidation(3)">
      <ion-option *ngFor="let bplace of bplaces" value="{{bplace}}">{{bplace}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Drop Point</ion-label>
    <ion-select  interface="popover" id="dp_select" [(ngModel)]="data.dp" disabled="{{DPOINT_FLAG}}" (ionChange)="mainValidation(4)">
      <ion-option *ngFor="let dplace of dplaces" value="{{dplace}}">{{dplace}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Bus Stop</ion-label>
    <ion-select  interface="popover" id="bstop_select" [(ngModel)]="data.busstop"  disabled="{{BSTOP_FLAG}}">
      <ion-option *ngFor="let bstop of bstops" value="{{bstop}}">{{bstop}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
-->

<ion-card (click)="toggleGroup('location')">
  <ion-card-header>
   Location
   <ion-icon name="md-arrow-dropdown" id="loc-icon" style="float: right;"></ion-icon>
   <span style="float: right;">{{data.location}}</span>
  </ion-card-header>
  <ion-list id="loc-card" [ngClass]=" isGroupShown('location') ? 'card-expand-active' : 'card-expand-inactive'">
    <button ion-item *ngFor="let loc of endAreas" (click)="setLocation(loc)">
      {{loc}}
    </button>
  </ion-list>
</ion-card>

<ion-card (click)="toggleGroup('slot')">
  <ion-card-header>
   Bus Slot
   <ion-icon name="md-arrow-dropdown" id="slot-icon" style="float: right;"></ion-icon>
   <span style="float: right;">{{data.bus_slot}}</span>
  </ion-card-header>
  <ion-list id="slot-card" [ngClass]=" isGroupShown('slot') ? 'card-expand-active' : 'card-expand-inactive'">
    <button ion-item *ngFor="let slot of slots" (click)="setBusSlot(slot)">
      {{slot}}
    </button>
  </ion-list>
</ion-card>

<ion-card (click)="toggleGroup('bp')">
  <ion-card-header>
   Boarding Point
   <ion-icon name="md-arrow-dropdown" id="bp-icon" style="float: right;"></ion-icon>
   <span style="float: right;">{{data.bp}}</span>
  </ion-card-header>
  <ion-list id="bp-card" [ngClass]=" isGroupShown('bp') ? 'card-expand-active' : 'card-expand-inactive'">
    <button ion-item *ngFor="let bplace of bplaces" (click)="setBoarding(bplace)">
      {{bplace}}
    </button>
  </ion-list>
</ion-card>

<ion-card (click)="toggleGroup('dp')">
  <ion-card-header>
   Drop Point
   <ion-icon name="md-arrow-dropdown" id="dp-icon" style="float: right;"></ion-icon>
   <span style="float: right;">{{data.dp}}</span>
  </ion-card-header>
  <ion-list id="dp-card" [ngClass]=" isGroupShown('dp') ? 'card-expand-active' : 'card-expand-inactive'">
    <button ion-item *ngFor="let dplace of dplaces" (click)="setDrop(dplace)">
      {{dplace}}
    </button>
  </ion-list>
</ion-card>

<ion-card (click)="toggleGroup('bstop')">
  <ion-card-header>
   Bus Stop:
   <ion-icon name="md-arrow-dropdown" id="bstop-icon" style="float: right;"></ion-icon><br><br>
   <span>{{data.busstop}}</span>
  </ion-card-header>
  <ion-list id="bstop-card" [ngClass]=" isGroupShown('bstop') ? 'card-expand-active' : 'card-expand-inactive'">
    <button ion-item *ngFor="let bstop of bstops" (click)="setStop(bstop)">
      {{bstop}}
    </button>
  </ion-list>
</ion-card>



<div id="utilities" align="center">
    <button ion-button round icon-left id="call-button" (click)="callNumber()">
    <ion-icon name="call"></ion-icon>
      Call the bus <br>  administrator
    </button> 
 <p>
    <button ion-button color="primary" id="next-button" class="app_buttons" (click)="pushFn()">Next</button>
  </p>
</div>



</ion-content>
