<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bus Registration</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="back">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


  <h3 style="text-align: center">Single Trip</h3>
<ion-card>
  <!--<ion-card-header>
    <ion-label></ion-label></ion-card-header>-->
<ion-card-content>
<ion-grid text-center>  
  <ion-row>
<ion-col col-12 style="font-size:200%;">{{month}}</ion-col>
  </ion-row>

<ion-row> 
  <button ion-button color="dark" clear class="col date-select-buttons" col-4  style="font-size:150%;">{{dates}}</button>
  <button  ion-button color="dark" clear class="col date-select-buttons" col-4  style="font-size:150%;">{{dates+1}}</button>
  <button  ion-button color="dark" clear class="col date-select-buttons" col-4 style="font-size:150%;">{{dates+2}}</button>
</ion-row>
</ion-grid>
</ion-card-content>
</ion-card>

 
  <ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Location</ion-label>
    <ion-select interface="popover" [(ngModel)]="data.location">
      <ion-option value="Mahape">Mahape</ion-option>
      <ion-option value="Pune">Pune</ion-option>
      <ion-option value="Seepz">Seepz</ion-option>
      
    </ion-select>
  </ion-item>
</ion-list>

 <ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Bus Slot</ion-label>
    <ion-select  interface="popover" [(ngModel)]="data.bus_slot">
      <ion-option value="1">Morning/8:30AM</ion-option>
      <ion-option value="2">Morning/10:00AM</ion-option>
      <ion-option value="3">Evening/5:45PM</ion-option>
      <ion-option value="4">Evening/7:10PM</ion-option>
      <ion-option value="5">Evening/8:30PM</ion-option>
    </ion-select>
  </ion-item>
</ion-list>


<ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Boarding Point</ion-label>
    <ion-select  interface="popover" [(ngModel)]="data.bp">
      <ion-option value="1">Ghatkopar</ion-option>
      <ion-option value="2">Vikhroli</ion-option>
      <ion-option value="3">Kandivali</ion-option>
      <ion-option value="4">Bhandup</ion-option>
      <ion-option value="5">Andheri</ion-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Drop Point</ion-label>
    <ion-select  interface="popover" [(ngModel)]="data.dp">
      <ion-option value="1">Mahape</ion-option>
      <!--<ion-option value="">Morning/10:00AM</ion-option>
      <ion-option value="">Evening/5:45PM</ion-option>
      <ion-option value="">Evening/7:10PM</ion-option>
      <ion-option value="">Evening/8:30PM</ion-option>-->
    </ion-select>
  </ion-item>
</ion-list>
<div align="center">
  <p>
    <button ion-button color="primary" class="app_buttons" (click)="pushFn()">Next</button>
  </p></div>

<div id="utilities" align="center">
    <button ion-button round icon-left id="call-button" (click)="callNumber()">
    <ion-icon name="call"></ion-icon>   Call the <br> bus administrator
    </button>
</div>
<!--
!--<h3>Posts</h3>  
    <ion-label style="color: #000000">Boarding Point</ion-label>
   <ion-list>
  <ion-item style = "background-color:transparent">
    <ion-select  >
       <ion-option value="">Mulund</ion-option>
    
      <!--<ion-option value="{{post.id}}">{{post.title}}</ion-option>-->
      <!--<ion-option value="">Bhandup</ion-option>
      <ion-option value="">Andheri</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
    -->

<!--<script>
var app = angular.module('selectboxApp', []);
app.controller('selectboxCtrl', function ($scope) {
$scope.arrlist = [{
"userid": 1,
"name": "Mahape"
}, {
"userid": 2,
"name": "Pune"
}, {
"userid": 3,
"name": "Seepz"
}];
$scope.checkselection = function () {
if ($scope.userSelect != "" && $scope.userSelect != undefined)
$scope.msg = 'Selected Value: '+$scope.userSelect;
else
$scope.msg = 'Please Select Dropdown Value';
}
});
</script>

<body  ng-app="selectboxApp" ng-controller="selectboxCtrl">
<div>
<h3>AngularJS Select Box / Dropdown List Validation Example</h3>
<select name="users" ng-model="userSelect">
<option value="">--Select User--</option>
<option ng-repeat="option in arrlist" value="{{option.userid}}">{{option.name}}</option>
</select>
</div><br /><br />
<input type="button" value="Submit" ng-click="checkselection()" /><br /><br />
<span style="color:red">{{msg}}</span><br />
</body>-->

</ion-content>
