page-home{
 .back{
     background: linear-gradient(to bottom,#40C4FF 0%,#015798 100%)
 }
// .image:hover {
// -webkit-transform:scale(0.5);
// transform:scale(0.5);
// }
// .image {
// -webkit-transition: all 0.7s ease;
// transition: all 0.7s ease;
// }

// button:hover{
//     background-color: orange;
//     color:white;
// }

    .date-select-buttons
    {
        font-size: 150%;
    }

    #call-button
    {
        width: 60%;
        font-size: smaller;
        margin: 0;
        float:left;
        height: 50px;
        background-color: #2874A6;
        border: 1px solid lightgreen;
        line-height: 150%
    }

    #next-button 
    {
        float:right;
        width:35%;
        height: 50px;
    }

}


