<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bus Registration</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="back">
 <h3 style="text-align: center">Monthly Trip</h3>

<ion-card (click)="selectDate()">
  <ion-card-header>
   Date
   <ion-icon name="md-arrow-dropdown" id="date-icon2" style="float: right;"></ion-icon>
   <span style="float: right;">{{data.date}}</span>
  </ion-card-header>
</ion-card>

 
<!--
  <ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Location</ion-label>
    <ion-select interface="popover" id="loc_select" [(ngModel)]="data.location" (ionChange)="mainValidation(1)">   
      <ion-option value="Mahape">Mahape</ion-option>
      <ion-option value="Pune">Pune</ion-option>
      <ion-option value="Seepz">Seepz</ion-option>
      
    </ion-select>
  </ion-item>
</ion-list>


 <ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Bus Slot</ion-label>
    <ion-select  interface="popover" id="slot_select" [(ngModel)]="data.bus_slot" (ionChange)="mainValidation(2)">
      <ion-option value="1">Morning/8:30AM</ion-option>
      <ion-option value="2">Morning/10:00AM</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Boarding Point</ion-label>
    <ion-select  interface="popover" id="bp_select" [(ngModel)]="data.bp" disabled="{{BPOINT_FLAG}}" (ionChange)="mainValidation(3)">
      <ion-option *ngFor="let bplace of bplaces" value="{{bplace}}">{{bplace}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Pickup Point</ion-label>
    <ion-select  interface="popover" id="bstop_select" [(ngModel)]="data.busstop"  disabled="{{BSTOP_FLAG}}" (ionChange)="mainValidation(4)" >
      <ion-option *ngFor="let bstop of bstops" value="{{bstop}}">{{bstop}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Out Time</ion-label>
    <ion-select  interface="popover" id="slot_select" [(ngModel)]="data.out_time" (ionChange)="mainValidation(4)">
      <ion-option value="1">5:45PM</ion-option>
       <ion-option value="2">7:10PM</ion-option>
      <ion-option value="3">8:30PM</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-list no-lines>
  <ion-item style = "background-color:transparent">
    <ion-label style="color: #000000">Drop Point</ion-label>
    <ion-select  interface="popover" [(ngModel)]="data.bp" disabled="true">
      <ion-option *ngFor="let bplace of bplaces" value="{{bplace}}">{{bplace}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
-->


<ion-card (click)="toggleGroup('location')">
  <ion-card-header>
   Location
   <ion-icon name="md-arrow-dropdown" id="loc-icon2" style="float: right;"></ion-icon>
   <span style="float: right;">{{data.location}}</span>
  </ion-card-header>
  <ion-list id="loc-card" [ngClass]=" isGroupShown('location') ? 'card-expand-active' : 'card-expand-inactive'">
    <button ion-item *ngFor="let loc of endAreas" (click)="setLocation(loc)">
      {{loc}}
    </button>
  </ion-list>
</ion-card>

<ion-card (click)="toggleGroup('inslot')">
  <ion-card-header>
   Bus Slot
   <ion-icon name="md-arrow-dropdown" id="inslot-icon2" style="float: right;"></ion-icon>
   <span style="float: right;">{{data.in_time}}</span>
  </ion-card-header>
  <ion-list id="inslot-card" [ngClass]=" isGroupShown('inslot') ? 'card-expand-active' : 'card-expand-inactive'">
    <button ion-item *ngFor="let inslot of inSlots" (click)="setInSlot(inslot)">
      {{inslot}}
    </button>
  </ion-list>
</ion-card>

<ion-card (click)="toggleGroup('bp')">
  <ion-card-header>
   Boarding Point
   <ion-icon name="md-arrow-dropdown" id="bp-icon2" style="float: right;"></ion-icon>
   <span style="float: right;">{{data.bp}}</span>
  </ion-card-header>
  <ion-list id="bp-card" [ngClass]=" isGroupShown('bp') ? 'card-expand-active' : 'card-expand-inactive'">
    <button ion-item *ngFor="let bplace of bplaces" (click)="setBoarding(bplace)">
      {{bplace}}
    </button>
  </ion-list>
</ion-card>

<ion-card (click)="toggleGroup('bstop')">
  <ion-card-header>
   Bus Stop:
   <ion-icon name="md-arrow-dropdown" id="bstop-icon2" style="float: right;"></ion-icon><br><br>
   <span>{{data.busstop}}</span>
  </ion-card-header>
  <ion-list id="bstop-card" [ngClass]=" isGroupShown('bstop') ? 'card-expand-active' : 'card-expand-inactive'">
    <button ion-item *ngFor="let bstop of bstops" (click)="setStop(bstop)">
      {{bstop}}
    </button>
  </ion-list>
</ion-card>

<ion-card (click)="toggleGroup('outslot')">
  <ion-card-header>
   Out Time
   <ion-icon name="md-arrow-dropdown" id="outslot-icon2" style="float: right;"></ion-icon>
   <span style="float: right;">{{data.out_time}}</span>
  </ion-card-header>
  <ion-list id="outslot-card" [ngClass]=" isGroupShown('outslot') ? 'card-expand-active' : 'card-expand-inactive'">
    <button ion-item *ngFor="let outslot of outSlots" (click)="setOutSlot(outslot)">
      {{outslot}}
    </button>
  </ion-list>
</ion-card>


  <div align="center">
  <p>
    <button  ion-button color="primary" class="app_buttons" (click)="pushFn()" style="width:150px;"  >Register</button>
  </p>
  </div>

<!--<input  [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="startDate = $event" type="date" name="startDate"/>-->


<a class="route" href="#" onclick="window.open('http://www.nraboy.com/contact', '_system', 'location=yes'); return false;">
 <b>View Bus Routes</b>
</a><br />


</ion-content>
